<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<div layout:fragment="content">

    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Modification d'un Utilisateur
        </div>
        <div class="card-body">
            <form th:action="@{/user/update}" th:method="POST" th:object="${user}">
                <input type="hidden" th:value="${user.id}" name="id">

                <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" th:value="${user.nom}" name="nom" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" th:value="${user.prenom}" name="prenom" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Telephone</label>
                    <input type="number" class="form-control" id="telephone" th:value="${user.telephone}" name="telephone" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:value="${user.email}" name="email" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Login</label>
                    <input type="login" class="form-control" id="login" th:value="${user.login}" name="login" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" th:value="${user.password}" name="password" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <select class="form-control" id="role" name="role" th:field="*{role}" required>
                        <option value="" disabled selected>Choisir un type</option>
                        <option th:each="rol : ${T(com.gestion.immobiliere.Gimmobilere.constant.Role).values()}"
                                th:value="${rol}"
                                th:text="${rol}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </div>

</div>
</html>
