<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Ajout d'une Propriété
        </div>
        <div class="card-body">
            <form th:action="@{/propriete/save}" method="POST" th:object="${propriete}">
                <div class="mb-3">
                    <label class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Prix</label>
                    <input type="number" class="form-control" id="prix" name="prix" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Type de propriete</label>
                    <select class="form-control" id="typePropriete" name="typePropriete" th:field="*{typePropriete}" required>
                        <option value="" disabled selected>Choisir un type</option>
                        <option th:each="typep : ${T(com.gestion.immobiliere.Gimmobilere.constant.TypePropriete).values()}"
                                th:value="${typep}"
                                th:text="${typep}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Disponibilite</label>
                    <select class="form-control" id="disponible" name="disponible" th:field="*{disponible}" required>
                        <option value="" disabled selected>Choisir un type</option>
                        <option th:each="disponibl : ${T(com.gestion.immobiliere.Gimmobilere.constant.Disponible).values()}"
                                th:value="${disponibl}"
                                th:text="${disponibl}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </div>
</div>

</html>