<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
<h2>Connexion</h2>

<form th:action="@{/login}" method="post">
    <div>
        <label for="login">Nom d'utilisateur :</label>
        <input type="text" id="login" name="login" required>
    </div>

    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div th:if="${param.error}">
        <p>Identifiants incorrects, veuillez réessayer.</p>
    </div>

    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>

<p>Pas encore de compte ? <a th:href="@{/inscription}">Inscrivez-vous ici</a></p>
<p><a th:href="@{/}">retour a accueil</a></p>

</div>
</html>
