<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<div layout:fragment="content">

    <div class="card" style="width: 48rem;">
        <div class="card-header">
            Modification d'un Contrat
        </div>
        <div class="card-body">
            <form th:action="@{/contrat/update}" th:method="POST" th:object="${contrat}">
                <input type="hidden" th:value="${contrat.id}" name="id">

                <div class="mb-3">
                    <label class="form-label">Type de contrat</label>
                    <select class="form-control" id="typeContrat" name="typeContrat" th:field="*{typeContrat}" required>
                        <option value="" disabled selected>Choisir un type</option>
                        <option th:each="typec : ${T(com.gestion.immobiliere.Gimmobilere.constant.TypeContrat).values()}"
                                th:value="${typec}"
                                th:text="${typec}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Adresse</label>
                    <select class="form-control" id="propriete" name="propriete" th:field="*{propriete}" required>
                        <option value="" disabled selected>Choisir une adresse</option>
                        <option th:each="adresse : ${proprietes}"
                                th:value="${adresse.id}"
                                th:text="${adresse.adresse}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Client</label>
                    <select class="form-control" id="user" name="user" th:field="*{user}" required>
                        <option value="" disabled selected>Choisir un client</option>
                        <option th:each="client : ${users}"
                                th:value="${client.id}"
                                th:text="${client.nom + ' ' + client.prenom}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Date de signature</label>
                    <input type="date" class="form-control" id="dateDebut" th:value="${contrat.dateDebut}" name="dateDebut" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Montant</label>
                    <input type="number" class="form-control" id="montant" th:value="${contrat.montant}" name="montant" required>
                </div>

                <button type="submit" class="btn btn-primary">Terminer</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </form>
        </div>
    </div>

</div>
</html>
